<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tj.mystaffmanager.mapper.NewsMapper">
    <!-- 获取所有的公告 -->
    <select id="getAllNews" resultType="com.tj.mystaffmanager.entity.NewsEntity">
        select *
        from staff_database.news_items
    </select>
</mapper>